@import '@antv/s2-shared/src/styles/variables.less';

.@{tooltip-mobile-drawer-cls-prefix} {
  .ant-drawer-close {
    margin-right: 4px;
    padding: 1px 6px;
  }

  .ant-drawer-header {
    padding: 16px;
  }

  .ant-drawer-body {
    padding: 16px;
  }

  .ant-drawer-content {
    background: var(~'@{css-var-prefix}-container-background', #fff);
  }

  .@{tooltip-operator-cls-prefix} {
    > .ant-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      justify-content: space-between;
      background: var(~'@{css-var-prefix}-container-background', #fff);

      &::before,
      &::after {
        display: none;
      }

      .ant-menu-item {
        display: flex;
        align-items: center;
        border: 1px solid var(~'@{css-var-prefix}-border', #f0f0f0);
        border-radius: 2px;
      }
    }
  }
}
