@prefix: s2-switcher-dimension;

@normal-span: 8px;

.@{prefix} {
  width: 185px;

  &.long-dimension {
    grid-row: span 2;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: @normal-span;
    justify-content: space-between;

    .title span {
      margin-left: @normal-span;
    }
  }

  &-items {
    height: calc(100% - 22px);
    min-height: 120px;
    max-height: 160px;
    padding: @normal-span;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    overflow-y: auto;

    &-highlight {
      border: 1px solid #6b9cff;
      box-shadow: 0 0 2px 1px rgba(46, 91, 217, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.15);

      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
  }

  &-long-items {
    max-height: 366px;
  }
}
