@prefix: s2-switcher-content;
@large-span: 16px;

@large-font-size: 14px;
@normal-font-size: 12px;

.@{prefix} {
  header,
  main {
    margin-bottom: @large-span;
  }

  header {
    font-size: @large-font-size;
    font-weight: bold;
  }

  main {
    display: grid;
    grid-gap: @large-span;
    grid-auto-flow: column;
    font-size: @normal-font-size;
  }

  .three-dimensions {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .two-dimensions {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .one-dimension {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .s2-switcher-option {
    .description {
      margin-left: 4px;
    }
  }

  .s2-switcher-reset-button {
    color: #3572f9;
    font-size: @large-font-size;
    padding: 0;
  }

  .ant-checkbox-inner {
    height: @normal-font-size;
    width: @normal-font-size;

    &::after {
      width: 4px;
      height: 8px;
    }
  }
}
