{
  "extends": [
    "airbnb-base/legacy",
    "prettier",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint", "import"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "settings": {
    "jest": {
      "version": 26
    },
    "react": "detect"
  },
  "rules": {
    "prettier/prettier": "error",
    "semi": "off",
    "no-console": "off",
    "no-multi-spaces": "off",
    "consistent-return": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-plusplus": "off", // 允许使用++,--
    "class-methods-use-this": "off", // 不强制使用 this, 因为子类可能复写方法
    "no-param-reassign": "off", // 允许参数更改值
    "@typescript-eslint/no-empty-function": "off", // 允许空方法,(默认实现)
    "@typescript-eslint/explicit-module-boundary-types": "off", // 允许无返回  值
    // 暂时关掉，没搞懂这个lint的配置 https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/extensions.md
//    "import/extensions": [
//      2,
//      "always",
//      {
//        "ts": "never",
//        "tsx": "never",
//        "js": "never",
//        "jsx": "never"
//      }
//    ],
    "import/no-named-default": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prop-types": 0,
    "react/state-in-constructor": 0,
    "react/jsx-props-no-spreading": 0,
    "react/no-array-index-key": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": [
      "error"
    ]
  }
}
