# Dependency directories
*node_modules/
.vscode
.idea
.history
.changelog
*.log
*.zip
coverage
yarn-error.log

# Mac files
.DS_Store

# site
s2-site/dist
s2-site/node_modules/
s2-site/.cache/

# packages
packages/s2-*/lib/
packages/s2-*/esm/
packages/s2-*/dist/
packages/s2-*/temp/
packages/s2-*/coverage/
packages/s2-*/stats.html

.swc
