{
  "customSyntax": "postcss-less",
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "font-family-no-missing-generic-family-keyword": true,
    "alpha-value-notation": null,
    "color-function-notation": null,
    "import-notation": null,
    "media-feature-range-notation": "prefix",
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["fade", "fadeout"]
      }
    ]
  }
}
