.playground {
  padding: 40px;

  .filter-section {
    margin: 20px 0;
    border: 1px solid #dcdcdc;
    padding: 20px;
  }

  .ant-collapse {
    margin-bottom: 20px;
  }

  .ant-checkbox-group {
    margin-left: 20px;
  }
}
