@import '@antv/s2/esm/styles/variables.less';

.@{s2-cls-prefix}-drag-copy-point {
  position: absolute;
  z-index: 9;
  width: 8px;
  height: 8px;
  background-color: #c2d5fe;
  cursor: crosshair;
  user-select: none;
}
