@import '@antv/s2-shared/src/styles/variables.less';

.@{header-cls-prefix} {
  padding: 0 !important;
  margin-bottom: 16px !important;

  .ant-page-header-heading-extra {
    display: flex;
    align-items: center;
  }
}
