@pre: s2-pagination;
.@{pre} {
  display: flex;
  align-items: center;
  z-index: 1024;
  &-count {
    margin-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 64px;
  }
}
