@import '@antv/s2-shared/src/styles/variables.less';

.@{s2-cls-prefix}-edit-cell {
  position: absolute;
  box-shadow: 0 0 0 2px #2a83fa !important;
  resize: none;
  box-sizing: border-box;

  &.ant-input {
    background-color: var(~'@{css-var-prefix}-background', #fff);
  }
}
