@pre: s2-homepage;
.@{pre} {
  &-cases {
    [class*='Cases-module--appWrapper'] {
      display: flex !important;
      align-items: center;
    }

    [class*='Cases-module--appTeaser'] {
      height: 500px;
    }
  }
}
