@tooltip-prefix-cls: antv-s2-tooltip;

.@{tooltip-prefix-cls} {
  &-container {
    position: fixed;
    min-width: 160px;
    max-width: 640px;
    z-index: 1024;
    display: inline-block;
    background: rgba(255, 255, 255, 0.96);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    font-family:
      'Roboto',
      'PingFang SC',
      'Chinese Quote',
      '-apple-system',
      'BlinkMacSystemFont',
      'Segoe UI',
      'Hiragino Sans GB',
      'Microsoft YaHei',
      'Helvetica Neue',
      Helvetica,
      Arial,
      sans-serif;
  }

  &.trans-2-middle {
    transform: translateX(-90px) translateY(-160%);
    pointer-events: none;
  }

  &-tips,
  &-name {
    padding: 12px 12px 4px 12px;
    line-height: 16px;
    font-size: 12px;
    letter-spacing: -0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    text-align: left;
    font-family: PingFangSC-Regular;
    opacity: 0.85;
    color: #000;

    &::after {
      position: absolute;
      left: 50%;
      bottom: -12px;
      content: '';
      transform: translateX(-3px);
      width: 0;
      height: 0;
    }
  }

  &-tips {
    padding: 4px 12px;
    opacity: 0.45;
    color: #000;
  }

  &-infos {
    padding: 4px 12px;
    line-height: 20px;
    font-size: 12px;
    opacity: 0.45;
    font-family: PingFangSC-Regular;
    color: #000;
    letter-spacing: -0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    background: rgba(249, 249, 249, 0.96);
    border-radius: 0 0 2px 2px;
    background-color: #f9f9f9;
  }

  &-summary {
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    padding: 12px 12px 4px;

    .@{tooltip-prefix-cls}-summary-val {
      float: right;
    }
  }

  &-interpretation {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    padding: 12px 12px 4px;

    .@{tooltip-prefix-cls}-interpretation-head {
      margin-bottom: 12px;

      .@{tooltip-prefix-cls}-interpretation-icon {
        width: 14px;
        height: 14px;
      }

      .@{tooltip-prefix-cls}-interpretation-name {
        color: #000;
      }
    }
  }

  &-head-info-list {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #a2a2a2;
    letter-spacing: 0;
    text-align: left;
    padding: 12px 12px 4px;
    line-height: 20px;
  }

  &-bold {
    font-weight: bold;
  }

  &-highlight {
    color: rgba(0, 0, 0, 0.85);
  }

  &-divider {
    border-top: 1px solid #e9e9e9;
  }

  &-detail-list {
    padding: 2px 12px 8px;

    .@{tooltip-prefix-cls}-detail-item {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
      overflow: hidden;
      margin: 4px 0;

      &-key {
        margin-right: 20px;
      }

      &-val {
        float: right;
      }
    }
  }

  &-rich-text {
    padding: 2px 0 8px;
    color: #666;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.2px;

    * {
      padding: 0;
      margin: 0;
    }

    h1 {
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.2px;
      color: #222;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.2px;
      color: #222;
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.2px;
      color: #222;
    }

    h4 {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #222;
    }

    a {
      text-decoration: none;
    }

    a:hover,
    a:active,
    a:visited,
    a:focus {
      text-decoration: none;
      transition: color 86400s ease-in 86400s;
    }

    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
    }

    ol {
      display: block;
      list-style-type: decimal;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
    }

    li {
      margin-left: 23px;
    }

    span {
      line-height: 1.2;
    }

    strong,
    b {
      font-weight: 700;
    }
  }
}

.ant-dropdown-menu-item.operation-item {
  font-size: 12px;
}
