.title {
  font-size: 12px;
  padding: 8px 16px;
  border-bottom: 1px solid #d9d9d9;
}

.sider-layout {
  border-right: 1px solid #d9d9d9;
  background: #fff;

  .demission-item {
    height: 32px;
    padding: 8px 5px;
    cursor: pointer;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    margin-left: 10px;
  }
}

.content-layout {
  background: #fff;

  .custom-form {
    padding: 8px 0 0 16px;

    .ant-form-item-label > label,
    .ant-select,
    .ant-select-item,
    .ant-form label {
      font-size: 12px;
    }

    .ant-radio-group {
      margin-left: 16px;
    }

    .ant-form-item {
      margin-bottom: 4px;
    }

    .rule-end {
      margin-left: 16px;
      font-size: 12px;

      label {
        font-size: 12px;
        margin: 0;
      }
    }

    .rule-end-delete {
      float: right;
      cursor: pointer;
      line-height: 25px;
    }

    .field-prefix {
      position: relative;
      padding: 0 6px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      background-color: #fafafa;
      border: 1px solid #d9d9d9;
      border-radius: 2px 0 0 2px;
      height: 24px;
      display: inline-block;
      line-height: 21px;
      margin-left: 8px;
    }
  }
}

.ant-cascader-menus {
  height: 100px;

  ul {
    height: 104px;
  }
}

.ant-cascader-menu-item,
.ant-cascader-picker-label {
  font-size: 12px;
}

.card-content .ant-card-body {
  padding: 0;
  font-size: 12px;

  .split-value {
    height: 32px;
    color: #333;
    line-height: 32px;
    padding: 0 10px 0 7px;

    .split-icon {
      float: right;
      cursor: pointer;
      width: 30px;
    }
  }

  .split-value:nth-child(odd) {
    background: #f7f9fb;
  }
}
